<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

	<%
	for(var i in candidates) {
	%>

		<%= candidates[i].user_name %><br />
		<%= candidates[i].text %><br />
		RT : <%= candidates[i].rt_count %>　　RT by :<%= candidates[i].rt_user %><br />
		<a href = 'rtManually/<%= candidates[i].id %>'>リツイート</a>　
		<a href = 'deleteCandidate/<%= candidates[i].id %>'>削除</a><br />
<br />
<br />
	<%
	}
	%>


  </body>
</html>